<app-gallery [auto]="true"></app-gallery>
<app-search></app-search>

<div class="flex-wrapper">
    <div class="btn">全部商品</div>
    <div class="btn">分类</div>
    <div class="btn">分类分类</div>
    <div class="btn">分类分类分类</div>
</div>

<div class="flex-wrapper col margin-top-10 bg-white">
    <img src="../../assets/banner.png" alt="">
    <img src="../../assets/goods2.png" alt="">
</div>

<app-goods-list-2-cols (add2Cart)="add2cartClicked($event)"></app-goods-list-2-cols>

<app-footer></app-footer>
<app-menu></app-menu>
<app-add2cart [show]="showAdd2Cart | async"
              [bgImage]="add2CartBgImage"
              [name]="add2CartName"
              [price]="add2CartPrice"></app-add2cart>
