<app-gallery [auto]="true"></app-gallery>
<app-search></app-search>

<div class="flex-wrapper">
    <div class="btn">全部商品</div>
    <div class="btn">分类</div>
    <div class="btn">分类分类</div>
    <div class="btn">分类分类分类</div>
</div>

<div class="flex-wrapper col margin-top-10">
    <img src="http://pic.jiaren.org/wp-pic/2011/06/1.jpg" alt="">
    <img src="http://pic.pimg.tw/hanoops/1312220914-38069c6af94ade4fa4d3ea2dabdfbf8c.jpg" alt="">
</div>

<app-goods-list-2-cols></app-goods-list-2-cols>

<app-footer></app-footer>
